<form action='/tasks/add' method='post'>
	<div>
		<label for='title'>Write a title:</label>
		<input
			id='title'
			name='title'
			type='text'
			placeholder='E.g.: Buy cat food'
		/>
	</div>

	<div>
		<label for='description'>Description:</label>
		<textarea
			id='description'
			name='description'
			placeholder='E.g.: I need to buy cat food for Millie, but not the "Rougan" brand because she hates it.'
		></textarea>
	</div>

	<button>Add task</button>
</form>

<ul>
	{{#each tasks}}
		<li>{{title}}</li>
		<li>{{description}}</li>
		<li>{{done}}</li>

		<div>
			<button>Edit</button>
			<button>Delete</button>
		</div>
	{{/each}}
</ul>